body {
    font-family: 'Poppins', sans-serif;
}

.page {
    display: none;
}

.active-page {
    display: block;
}

.hero {
    height: 100vh;
    background: url('https://source.unsplash.com/1600x900/?restaurant') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.btn-custom {
    background: orange;
    color: white;
}

.gallery-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.gallery-img:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
